.myModal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  background: rgba(28, 51, 73, 0.9)
}

.myModalContent {
  padding: 0;
  background: white;
  border-radius: 6px;
  min-width: 250px;
}

.myModal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.closeIcon {
  position: relative;
  transform: translateX(1780%) translateY(-1115%);
}