.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 2px solid #B5B5B5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

.container {
  width: 400px;
  height: 380px;
  padding: 20px 0;
  position: relative;
}

.login_footer {
  margin: 16px;
}

.login_footer_quote {
  margin: 8px;
}

.link {
  color: #007EE2;
  cursor: pointer;
}

.send_msg {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  margin: 0 40px 32px;
}

.goodBtn {
  width: 170px;
  height: 40px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: inherit;
  background-color: #28AC0A;
  color: #fff;
  padding: 0 12px;
}