.title {
  font-size: 42px;
  font-weight: 400;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 80px auto 48px;
  line-height: 42px;
  color: #4F4F4F;
}
.description {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 24px;
  line-height: 26px;
  color: #4F4F4F;
  height: 52px;
  margin-bottom: 48px;
}

.toggle_button_group {
  margin-top: 120px;
  width: 40%;
}

.toggle_button_group__item {
  flex: 1;
  border: 1px solid #007EE2;
  color: rgba(15, 10, 222, 1);
}