.sidebar {
  flex: 1.2 1;
  height: calc(100vh - 50px);
  position: sticky;
  top: 50px;
  margin-right: 30px;
}

.sidebarWrapper {
  margin: 0;
}

.sidebarMenu {
  margin-bottom: 10px;
}

.sidebarTitle {
  font-size: 13px;
  color: rgb(187, 186, 186);
}

.sidebarList {
  list-style: none;
  padding: 0 8px;
  margin: 0;
}

.sidebarListItem {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center; /* align item with text */
  border-radius: 10px;
}

.sidebarListItem.active, .sidebarListItem:hover {
  background-color: #EEEEEE;
}

.sidebarIcon {
  margin-right: 5px;
  font-size: 20px !important;
}