@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,800&family=PT+Sans+Caption&display=swap');

body {
  -webkit-font-smoothing: Antialiased;
  font-family: 'PT Sans Caption';
  margin: 0;
}