.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 2px solid #B5B5B5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  height: 580px;
}

.container {
  width: 400px;
  height: 580px;
  padding: 20px 0;
  position: relative;
}

.block {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: -60px 0;
}

.block_item {
  text-align: center;
}

.block__item {
  width: 50%;
}

.block_item__title {
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 24px;
}

.block_item__btn {
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  background-color: #fff;
  color: #333;
  font-size: 16px;
  font-weight: 500;
}

.contact_input {
  width: 303px;
  padding: 8px 8px;
  border: solid 1px #AAA;
  font-size: inherit;
  border-radius: 4px;
  /*box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(0, 0, 0, 0.16);*/
  box-shadow: inset 1px 0px 0px #AAA, inset -1px 0px 0px #AAA, inset 0px -1px 0px #AAA, inset 0px 1px 0px #AAA;
}

.invalided_input {
  width: 303px;
  padding: 8px 8px;
  box-shadow: inset -1px 0px 0px #ff7d87, inset 1px 0px 0px #ff7d87, inset 0px -1px 0px #ff7d87, inset 0px 1px 0px #FF7D87;
  border: 1px solid #ff7d87;
  /*box-shadow: none;*/
  /*box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(0, 0, 0, 0.16);*/
  font-size: inherit;
  border-radius: 4px;
}

.input_label {
  margin: 0;
  padding: 2px 4px;
}

.form_owner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_owner__item {
  font-size: 1.25rem;
  display: flex;
}

.buttonColor{
  background-color: #007EE2;
  color: #fff;
}

.reg_btn {
  width: 320px;
  height: 40px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: inherit;
  background-color: #007EE2;
  color: #fff;
  padding: 8px 0;
  margin-top: 16px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.next_btn {
  width: 320px;
  height: 40px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: inherit;
  background-color: #AAA;
  color: #fff;
  padding: 8px 0;
  margin-top: 16px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}


.block_item_title__steps {
  display: flex;
  justify-content: center;
  margin-top: 7px;
  height: 20px;
}

.step {
  background-color: #454545;
  border-radius: 5px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  height: 24px;
  width: 57px;
}

.circled_step {
  width: 24px;
  height: 24px;
  background-color: #A2ACBD;
  border-radius: 50%;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6px;
}

.circled_second_step {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6px;
}

.hr_horizontal_gradient {
  margin: 17px 0;
  padding: 0 20px;
  height: 0;
  border: none;
  border-top: 1px solid #4A5976;
}

.toggle_button_group {
  width: 320px;
  margin: 0 auto;
  text-align: center;
  display: flex;
}

.toggle_button_group__item {
  flex: 1;
  border: 1px solid #007EE2;
  color: rgba(15, 10, 222, 1);
}

.reg_span {
  cursor: pointer;
}

.wrapper_center {
  margin: 4px auto;
}

.wrapper_centerX {
  margin: 4px auto;
  position: relative;
}

.wrapper_centerX::before,
.wrapper_centerX::after {
  position: absolute;
  top: 1.5rem;
  right: -11.3rem;
  transform: translateX(0%) translateY(3%);
  font-size: 15px;
  text-align: center;
}

.wrapper_centerX::before {
  content: attr(data-tooltip);
  height: max-content;
  max-height: 100%;
  width: 170px;
  background: #fff;
  border: 1px solid #AAA;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(0, 0, 0, 0.16);
  box-sizing: border-box;
  padding: 0.1rem;
}

.wrapper_centerX::after {
  content: '';
  border: 10px solid transparent;
  border-right-color: #AAA;
  transform: translateX(-849%) translateY(20%);
}

.form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.hint {
  margin: 0;
  padding: 0;
  height: 12px;
  font-size: 12px;
  color: #FF4850;
  transition: opacity 0.3s;
}

.reserve_area {
  height: 16px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.myModal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  background: rgba(28, 51, 73, 0.9)
}

.myModal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.myModalContent {
  padding: 0;
  background: white;
  border-radius: 6px;
  min-width: 250px;
}

.closeIcon {
  position: relative;
  transform: translateX(1774%) translateY(-1223%);
}